<!-- index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (!user) { %>
      <a href="/auth/spotify">Login with Spotify</a>
    <% } else { %>
      <p>Welcome, <%= user.displayName %>!</p>
      <a href="/forum">Go to Forum</a>
      <br>
      <a href="/survey">Please answer our Survey!</a>
      <br>
      <a href="/logout">Logout</a>
    <% } %>
  </body>
</html>
